{% extends 'base.html.twig' %}

{% block title %}Список курсов/StudyOn{% endblock %}


{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice w-100 text-center py-5">
            <p class="text-danger fs-2">{{ message }}</p>
        </div>
    {% endfor %}
    <div class="row mx-5 mt-3 justify-content-center">


        <h1 class="text-center">Список курсов</h1>

        <table class="table">
            <thead>
                <tr class="fs-3">
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Стоимость</th>
                </tr>
            </thead>
            <tbody>
            {% for course in courses %}

                <tr class="fs-5 courses">
                    <td>
                        <a
                                class="text-decoration-none course-show "
                                href="{{ path('app_course_show', {'id': course.id}) }}"
                        >
                            {{ course.name }}
                        </a>
                    </td>
                    <td>{{ course.description }}</td>
                    {% if course.type is defined %}

                        {% if course.type == 'free' %}
                            <td>
                                <p class="text-primary"> Бесплатно</p>
                            </td>

                        {% elseif course.type == 'buy' %}
                            {% if course.is_paid is defined %}
                                <td>
                                    <p class="text-primary"> Приобретено </p>
                                </td>
                            {% else %}
                                <td>
                                    <p class="text-danger"> {{ course.price }} ₽</p>
                                </td>
                            {% endif %}

                        {% elseif course.type == 'rent' %}
                            {% if course.is_rent is defined %}
                                <td>
                                    <p class="text-primary"> Арендовано до {{ course.expires }} </p>
                                </td>
                            {% else %}
                                <td>
                                    <p class="text-danger"> {{ course.price }} ₽ в месяц</p>
                                </td>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                </tr>
            {% else %}
                <tr>
                    <td colspan="5" align="center">
                        <p class="fs-2 text-danger my-5">
                            Похоже, что курсов тут пока нет...
                        </p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a class="btn btn-outline-primary mt-3 fs-5" style="width: 200px" href="{{ path('app_course_new') }}">Добавить
                курс</a>
        {% endif %}

    </div>

{% endblock %}
