{% extends 'base.html.twig' %}

{% block title %}{{ course.name }}/StyduOn{% endblock %}

{% block body %}
    <div class="row mx-5 mt-3 justify-content-center">
        <h1>Курс: {{ course.name }}</h1>
        <p class="fs-4">{{ course.description }}</p>


        <table class="table">
            <tbody>

            <th class="fs-5">Уроки:</th>
            {% for lesson in course.lessons | sort((a,b) => a.number <=> b.number) %}
                <tr>
                    <td>
                        <a class="text-decoration-none fs-5" href="{{ path('app_lesson_show', {'id': lesson.id}) }}">{{ lesson.name }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <a class="btn btn-outline-primary mt-3 fs-5" style="width: 200px" href="{{ path('app_course_index') }}">к списку курсов</a>

            <a class="btn btn-outline-primary mt-3 fs-5 mx-4" style="width: 200px" href="{{ path('app_course_edit', {'id': course.id}) }}">редактировать</a>

            <a class="btn btn-outline-primary mt-3 fs-5" style="width: 200px" href="{{ path('app_lesson_new', {'id': course.id}) }}">добавить урок</a>
        </div>


        {{ include('course/_delete_form.html.twig') }}

    </div>
{% endblock %}
