{% extends 'base.html.twig' %}

{% block title %}{{ course.name }}/StyduOn{% endblock %}

{% block body %}
    <div class="row mx-5 mt-3 justify-content-center">
        <h1 class="course-name">Курс: {{ course.name }}</h1>
        <p class="course-description fs-4">{{ course.description }}</p>
        {% if not course.isPaid and course.type !='free' %}
            {% if billingUser.balance > course.price %}
                <div {{ stimulus_controller('modal-form') }}>
{#                    <a class="btn btn-primary" data-action="modal-form#openModal">#}
{#                        {% if course.type =='buy' %}#}
{#                            Купить#}
{#                        {% elseif course.type =='rent' %}#}
{#                            Арендовать#}
{#                        {% endif %}#}
{#                    </a>#}
{#                    {{ include('course/_modal.html.twig') }}#}
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="payConfirmModalLabel">Оплата курса</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            {% if status is null %}
                                <div class="modal-body">
                                    <p>С вашего счета будет списано {{ course.price }} рублей</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">
                                        Отмена
                                    </button>
                                    <form name="myform" action="{{ path('app_course_pay', {'id': course.id}) }}" method="post">
                                        <input type="hidden" name="_token" value="{{ csrf_token('pay' ~ course.id) }}"/>
                                        <button class="btn btn-info">Продолжить</button>
                                    </form>
                                </div>
                            {% else %}
                                <div class="modal-body">
                                    <p> {{ status }} </p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-outline-info" data-bs-dismiss="modal">
                                        Закрыть
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>





                </div>
            {% else %}
                <p class="fs-4 text-danger">Недостаточно средств для оплаты</p>
            {% endif %}
        {% endif %}
        <table class="table">
            <tbody>

            <th class="fs-5">Уроки:</th>
            {% if not course.isPaid %}
                <tr>
                    <td>
                        <p>Курс необходимо преобрести, чтобы иметь доступ к урокам.</p>
                    </td>
                </tr>
            {% else %}
                {% for lesson in course.lessons | sort((a,b) => a.number <=> b.number) %}
                    <tr>
                        <td>
                            <a class="text-decoration-none fs-5 lesson"
                               href="{{ path('app_lesson_show', {'id': lesson.id}) }}">{{ lesson.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <a class="btn btn-outline-primary mt-3 fs-5" style="width: 200px" href="{{ path('app_course_index') }}">К
                списку курсов</a>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a class="btn btn-outline-primary mt-3 fs-5 ms-4" style="width: 200px"
                   href="{{ path('app_course_edit', {'id': course.id}) }}">Редактировать</a>

                <a class="btn btn-outline-primary mt-3 fs-5 mx-4" style="width: 200px"
                   href="{{ path('app_lesson_new', {'id': course.id}) }}">Добавить урок</a>

                {{ include('course/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>

{% endblock %}
