{% extends 'base.html.twig' %}

{% block title %}{{ lesson.name }}/{{ lesson.course.name }}/StudyOn{% endblock %}

{% block body %}
    <div class="row mx-5 mt-3 justify-content-center">
        <h1>{{ lesson.name }}</h1>
        <p class="fs-5">
            Урок из курса:
            <span>
             <a class="text-decoration-none"
                href="{{ path('app_course_show', {'id': lesson.course.id}) }}"> {{ lesson.course.name }} </a>
        </span>
        </p>
        <div class="border border-primary border-1 rounded-3 p-4">
            <p class="fs-5">{{ lesson.content }}</p>
        </div>

        <div class="d-flex justify-content-center">
            <a class="btn btn-outline-primary mt-3 fs-5 me-4" style="width: 200px" href="{{ path('app_course_show', {'id': lesson.course.id}) }}">назад к курсу</a>

            <a class="btn btn-outline-primary mt-3 fs-5" style="width: 200px"
               href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">редактировать</a>

        </div>

        {{ include('lesson/_delete_form.html.twig') }}
    </div>

{% endblock %}
