<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 fw-bold fs-5">
                <li><a href="{{ path('app_course_index') }}" class="nav-link px-2 text-white">Список курсов</a></li>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('app_profile') }}" class="nav-link px-2 text-white">Профиль пользователя</a></li>
                {% endif %}
            </ul>


            {% if is_granted('ROLE_USER') %}
                <div class="text-end">
                    <a href="{{ path('app_profile') }}" class="btn btn-outline-light me-2 fs-5">{{ app.user.email }}</a>
                    <a href="{{ path('app_logout') }}" class="btn btn-warning fs-5">Выход</a>
                </div>
            {% else %}
                <div class="text-end">
                    <a href="{{ path('app_login') }}" class="btn btn-outline-light me-2 fs-5">Авторизация</a>
                    <a href="{{ path('app_register') }}" class="btn btn-warning fs-5">Регистрация</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>